h1{
    font-weight: 100;
    text-align: center;
}
body{
    background-color: yellowgreen;
    
}
p{
    text-align: center;
}
.real{
    padding-left:5%;
    padding-right: 5%;
}
.main{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.first{
    width: 30%;
    text-align: center;
    position: relative;
  
}
.know{
    padding:10px;
    background:goldenrod;
    border: none;
}
.fas{
    font-size: 50px;
}.nav{
    background-color: rgb(119, 177, 119);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}
a{
    color: wheat;
    text-decoration: none;
    margin: 10px;
}
li{
    list-style-type: none;
}
a:hover{
    background: rgb(128, 101, 101);
}
a:active{
    background: beige;
}
a:visited{
    background: gray;
}
