h1{
    font-weight: 100;
    text-align: center;
}
body{
    background-color: yellowgreen;
    
}
p{
    text-align: center;
}
.real{
    padding-left:5%;
    padding-right: 5%;
}
.main{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.first{
    width: 30%;
    text-align: center;
    position: relative;
  
}
.know{
    padding:10px;
    background:goldenrod;
    border: none;
}
.fas{
    font-size: 50px;
}
